<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>manager test</title>
  </head>
  <body>
    <h1>Manager sample</h1>
    <p>This is a sample page of manager app.</p>

    <p>You can make a room from the following form.</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">Title</label><br>
        <input id="titleInput" name="r_name" type="text" placeholder="Input Room name">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <br>
    
    {% if rooms %}
    {% for room in rooms %}
    <div>
      <h4>{{ room.r_name }}</h4>
    </div>
    {% endfor %}
    {% else %}
    <p>No room.</p>
    {% endif %}
    <hr>

  </body>
</html>