{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ルーム管理</title>
    <link rel="stylesheet" href="{% static 'managers/css/manager.css' %}">
  </head>
  <body>
    <div id="header">
      <img src="{% static 'tsubuyaitter/img/test1.png' %}" alt="logo">
      <p>Tsubuyaitter</p>
    </div>
    <h1>ルーム管理</h1>
    <p>ルームの管理ができます。新しいルームを作成しましょう!</p>

    <p>以下のフォームより新しいルームに名前を付けて作成できます。</p>
    <form action="{% url 'm_index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">ルーム名</label><br>
        <input id="titleInput" name="r_name" type="text" placeholder="Input Room name">
      </div>
      <div>
        <button type="submit">ルーム作成!</button>
      </div>
    </form>
    <br>
  </body>
</html>