<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>managers test</title>
  </head>
  <body>
    <h1>Managers sample</h1>
    <p>This is a sample page of managers app.</p>

    <p>You can make a room from the following form.</p>
    <form action="{% url 'm_index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">Room Name</label><br>
        <input id="titleInput" name="r_name" type="text" placeholder="Input Room name">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <br>
  </body>
</html>