{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'tsubuyaitter/css/home.css' %}">
  </head>
  <body>
    <div id="header">
       <img src="{% static 'tsubuyaitter/img/test1.png' %}" alt="logo">
       <p>Tsubuyaitter</p>
     </div>
    <div class="aaa">
      <div id="bbb">
        <span>Menu</span>
      </div>
      <div id="ccc">
        {% if user.is_staff %}
        <span>
          <div class="Divlink">
            make the room as owner
            <a class="Link" href="{% url 'm_index' %}"></a>
          </div>
        </span>
        {% endif %}
        <span><h2 class="hhh">join as member</h2></span>
        {% if rooms %}
        {% for room in rooms %}
        <div class="room">
            <span>
              <div class="Divlink">
                {{ room.r_name }}
                <a class="Link" href="{% url 'room' room.id %}"></a>
              </div>
            </span>
        </div>
        {% endfor %}
        {% else %}
        <p>No Room.</p>
        {% endif %}
      </div>
    </div>
    <div>
      <a href = "{% url 'appex' %}"><button class="btn btn-primary">Log out!</button></a>
    </div>
  </body>
</html>