{% extends 'tsubuyaitter/signup.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}
{% block login %}Login{% endblock %}
{% block Link %}<div class="d-flex justify-content-center mt-5 mx-4 mb-3 mb-lg-4"><button type="submit" class="btn btn-primary">Log in</button></div>
<p class="text-center text-muted mt-5 mb-0">Don't have an account?<br> <a href="{% url 'signup' %}" class="fw-bold text-body"><u>Sign up here</u></a> or just back to <a href="{% url 'appex' %}" class="fw-bold text-body"><u>Usage for application.</u></a></p>{% endblock %}
{% block img %}<img src="{% static 'tsubuyaitter/img/sharelink.png' %}" alt="test img" class="img-fluid">{% endblock %}