{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Room</title>
    <meta charset="UTF-8">
    <link href="{% static 'tsubuyaitter/css/room.css' %}" rel="stylesheet">
  </head>
  <body>
    <h1>{{ that_room.r_name }}</h1>
    <p>下のフォームから投稿できます</p>
    <form action="{% url 'room' room_id %}" method="post">
      {% csrf_token %}
      <div>
        <label for="textInput">Tweet</label><br>
        <input id="textInput" name="text" type="text" placeholder="Input Text">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <br> 
    <hr>
    {% if posts %}
    {% for post in posts %}
    <div class="tweet">
      <h4>{{ post.owner }}</h4>
      <h6><a href="{% url 'resolved' post.id %}">解決した</a></h6>
      {% if post.is_solved %}
      <small>[解決済]</small>
      {% else %}
      <small>[未解決]</small>
      {% endif %}
      {{ post.text |linebreaksbr }}
    </div>
    {% endfor %}
    {% else %}
    <p>No post.</p>
    {% endif %}
    <hr>
    <p>
      <a href="{% url 'home' %}">Top</a>
    </p>
  </body>
</html>