<!DOCTYPE html>
<html>
  <head>
    <title>Room</title>
    <meta charset="UTF-8"></head>
  <body>
    <h1>Room Page</h1>
    <p>You can post a tweet from the following form.</p>
    <form action="{% url 'room' room_id %}" method="post">
      {% csrf_token %}
      <div>
        <label for="textInput">Tweet</label><br>
        <input id="textInput" name="text" type="text" placeholder="Input Text">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <br> 
    {% if posts %}
    {% for post in posts %}
    <h4>{{ post.owner }}</h4>
    <small>[{{ post.is_solved }}]</small>
    <div>
        {{ post.text |linebreaksbr }}
    </div>
    {% endfor %}
    {% else %}
    <p>No post.</p>
    {% endif %}
    <hr>
    <p>
      <a href="{% url 't_index' %}">Top</a>
    </p>
  </body>
</html>