.tweet{
    background-color: #f8eddf;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    padding: 3px;
    margin: 10px 10px;
    position: relative;
}

.tweet h5{
    background-color: #ddeeff;
    border: 1px solid #666666;
    position: absolute;
    right: 10px;
    top: 0px;
}

.tweet h6{
    background-color: #ddeeff;
    border: 1px solid #666666;
    position: absolute;
    right: 10px;
    top: 50px;
}

#header {
    background-color: rgb(230, 87, 21);
    display: flex;
    height: 60px;
}

#header img {
    height: 100%;
}

#header p {
    color: #ffffff;
    font-weight: 600;
    font-family: cursive;
    padding-left: 20px;
}