.tweet{
    background-color: #c8d1ff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    padding: 3px;
    margin: 10px 10px;
    position: relative;
}

.tweet h5{
    background-color: #ddeeff;
    border: 1px solid #666666;
    position: absolute;
    right: 10px;
    top: 0px;
}

.tweet h6{
    background-color: #ddeeff;
    border: 1px solid #666666;
    position: absolute;
    right: 10px;
    top: 50px;
}